/* http://meyerweb.com/eric/tools/css/reset/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
  font: inherit;
  vertical-align: baseline; }

a {
  text-decoration: none; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* END RESET */
body {
  font-family: "Scope One", serif;
  line-height: 1.7rem; }

h1, h2 {
  background-color: #e8e8e8;
  font-family: "Scope One", serif;
  clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 0% 100%); }

h1 {
  font-size: 40px;
  color: #b100b2; }

h2 {
  font-size: 30px;
  color: #650066; }

h3 {
  font-size: 30px;
  color: #650066; }

p {
  font-size: 20px; }

strong {
  font-weight: bold;
  color: #650066; }

body {
  margin-bottom: 2.2rem;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #fdfdfd; }

h1, p {
  margin-bottom: 2.2rem; }

h2 {
  margin-bottom: 1.1rem; }

h1, h2 {
  margin-left: -10px;
  padding-top: 0.55rem;
  padding-bottom: 0.275rem;
  padding-left: 0.275rem; }

ul {
  margin-left: 2.2rem;
  margin-bottom: 1.1rem; }

ul ul {
  margin-bottom: 0; }

pre {
  background-color: #e8e8e8;
  margin-bottom: 1.1rem;
  padding: 0.55rem;
  overflow-x: scroll; }

.headshot {
  width: 35%;
  float: right;
  margin-left: 1.1rem;
  margin-right: 5px; }

nav {
  margin-bottom: 2.2rem;
  text-align: center; }
  nav ul {
    margin-left: 0;
    margin-bottom: 0; }
  nav li {
    display: inline-block; }

.social ul {
  margin-left: 0;
  margin-bottom: 0;
  text-align: center; }

.social li {
  display: inline-block; }

.social a, .social svg {
  display: block; }

.social a {
  height: 1.5rem;
  width: 1.5rem; }

.icon {
  color: #424242;
  fill: #424242; }

.icon:hover {
  border-radius: 100%;
  background: #e8e8e8;
  color: #b100b2;
  fill: #b100b2;
  transform: scale(2);
  transition: background-color .5s, transform .5s ease-out; }

@media screen and (min-width: 600px) {
  body {
    width: 80%;
    margin: auto; }
  nav {
    margin-top: 2.2rem;
    text-align: right; }
  .social ul {
    float: left;
    text-align: left; }
  .headshot {
    width: 30%; } }

.twitter-tweet {
  margin: auto; }

.youtube-vid {
  margin: auto; }

@media screen and (min-width: 1000px) {
  body {
    max-width: 900px; }
  h1, h2, h3 {
    padding-top: 0.55rem;
    padding-bottom: 0.275rem;
    padding-left: 0.275rem; }
  .headshot {
    width: 20%;
    float: left;
    margin-left: 0;
    margin-right: 0.55rem; } }

.pagination {
  display: block;
  width: 100%;
  list-style: none; }
  .pagination li {
    display: inline; }

.blogpost {
  margin-bottom: 4.4rem; }
  .blogpost h1 {
    font-size: 24px;
    padding-right: 4.4rem;
    margin-bottom: 0.275rem; }
  .blogpost header p {
    padding-left: 0.275rem; }
  .blogpost h2, .blogpost h3 {
    font-size: 22px; }
  .blogpost img {
    width: 100%; }
  .blogpost .content h1, .blogpost .content h2, .blogpost .content h3 {
    background-color: #fdfdfd;
    margin-bottom: 0.55rem;
    padding-left: 2px;
    clip-path: none; }
  .blogpost .content p {
    margin-bottom: 1.1rem; }
  .blogpost .content em {
    font-style: italic; }
  .blogpost blockquote {
    margin-top: 2.2rem;
    margin-bottom: 2.2rem;
    font-style: italic; }
    .blogpost blockquote p {
      font-weight: bold; }

hr {
  width: 80%;
  margin: auto;
  color: #b100b2;
  background-color: #b100b2;
  margin-bottom: 2.2rem; }

figure {
  padding: 0.55rem;
  margin: 2.2rem 0;
  background-color: #cccc; }
  figure img {
    max-width: 100%;
    height: auto; }

@media screen and (min-width: 600px) {
  .blogpost h1 {
    font-size: 40px;
    line-height: 2.55rem; } }

p {
  margin-bottom: 1.1rem; }

.ref-year {
  font-weight: 900; }

.ref-journal {
  font-style: italic; }

.highlight {
  background: #ffffff; }

.highlight .c {
  color: #999988;
  font-style: italic; }

/* Comment */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }

/* Error */
.highlight .k {
  font-weight: bold; }

/* Keyword */
.highlight .o {
  font-weight: bold; }

/* Operator */
.highlight .cm {
  color: #999988;
  font-style: italic; }

/* Comment.Multiline */
.highlight .cp {
  color: #999999;
  font-weight: bold; }

/* Comment.Preproc */
.highlight .c1 {
  color: #999988;
  font-style: italic; }

/* Comment.Single */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

/* Comment.Special */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd; }

/* Generic.Deleted */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa; }

/* Generic.Deleted.Specific */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #aa0000; }

/* Generic.Error */
.highlight .gh {
  color: #999999; }

/* Generic.Heading */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd; }

/* Generic.Inserted */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa; }

/* Generic.Inserted.Specific */
.highlight .go {
  color: #888888; }

/* Generic.Output */
.highlight .gp {
  color: #555555; }

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #aaaaaa; }

/* Generic.Subheading */
.highlight .gt {
  color: #aa0000; }

/* Generic.Traceback */
.highlight .kc {
  font-weight: bold; }

/* Keyword.Constant */
.highlight .kd {
  font-weight: bold; }

/* Keyword.Declaration */
.highlight .kp {
  font-weight: bold; }

/* Keyword.Pseudo */
.highlight .kr {
  font-weight: bold; }

/* Keyword.Reserved */
.highlight .kt {
  color: #445588;
  font-weight: bold; }

/* Keyword.Type */
.highlight .m {
  color: #009999; }

/* Literal.Number */
.highlight .s {
  color: #d14; }

/* Literal.String */
.highlight .na {
  color: #008080; }

/* Name.Attribute */
.highlight .nb {
  color: #0086B3; }

/* Name.Builtin */
.highlight .nc {
  color: #445588;
  font-weight: bold; }

/* Name.Class */
.highlight .no {
  color: #008080; }

/* Name.Constant */
.highlight .ni {
  color: #800080; }

/* Name.Entity */
.highlight .ne {
  color: #990000;
  font-weight: bold; }

/* Name.Exception */
.highlight .nf {
  color: #990000;
  font-weight: bold; }

/* Name.Function */
.highlight .nn {
  color: #555555; }

/* Name.Namespace */
.highlight .nt {
  color: #000080; }

/* Name.Tag */
.highlight .nv {
  color: #008080; }

/* Name.Variable */
.highlight .ow {
  font-weight: bold; }

/* Operator.Word */
.highlight .w {
  color: #bbbbbb; }

/* Text.Whitespace */
.highlight .mf {
  color: #009999; }

/* Literal.Number.Float */
.highlight .mh {
  color: #009999; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #009999; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #009999; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #d14; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #d14; }

/* Literal.String.Char */
.highlight .sd {
  color: #d14; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #d14; }

/* Literal.String.Double */
.highlight .se {
  color: #d14; }

/* Literal.String.Escape */
.highlight .sh {
  color: #d14; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #d14; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #d14; }

/* Literal.String.Other */
.highlight .sr {
  color: #009926; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #d14; }

/* Literal.String.Single */
.highlight .ss {
  color: #990073; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #999999; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #008080; }

/* Name.Variable.Class */
.highlight .vg {
  color: #008080; }

/* Name.Variable.Global */
.highlight .vi {
  color: #008080; }

/* Name.Variable.Instance */
.highlight .il {
  color: #009999; }

/* Literal.Number.Integer.Long */
/* Make line numbers unselectable: excludes line numbers from copy-paste user ops */
.highlight .lineno {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none; }

.lineno::-moz-selection {
  background-color: transparent; }

/* Mozilla specific */
.lineno::selection {
  background-color: transparent; }

/* Other major browsers */
