body {
    font-family: 'Rouge Script', cursive;
    font-size: 13em;
    line-height: 0.05em;
    color: #765370;
}

.content {
    text-align: center;
    width:100%;
    margin: auto;
}


@media(max-width: 800px) {

    body {
        margin-top: -40px;
        line-height: 0.01em;
        font-size: 8em;    
    }

}