<p>
    <span class="ref-authors">
        {{ range .author  }}
        {{ .given }} {{ .family }},
        {{ end }}
    </span>
    <span class="ref-year">
        {{ range first 1 .issued }}
        {{ .year }}
        {{ end }}
    </span>
    <span class="ref-title">
        "{{ .title }}"
    </span>
    <span class="ref-journal">
        {{ index . "container-title" }}
    </span>
    {{ if .DOI }}
    <br><span class="ref-doi">
        DOI: <a href="https://doi.org/{{ .DOI }}">{{ .DOI }}</a>
    </span>
    {{ end }}
    {{ if .URL }}
    <br><span class="ref-url">
        <a href="{{ .URL }}">View at Publisher</a>
    </span>
    {{ end }}
</p>